# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Local database (будет создана в volume)
vocabulary.db

# Environment (будет на сервере)
.env

# Docs
README.md
.DS_Store
