# Переменные окружения
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# База данных
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log

# macOS
.DS_Store
