bots4max.duckdns.org {
    log {
        output file /var/log/caddy/Vocabulary_Bot.log {
            roll_size 10MB
            roll_keep 5
        }
    }

    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }

    @webhook path /telegram/webhook
    handle @webhook {
        reverse_proxy localhost:8000
    }

    @health path /health
    handle @health {
        reverse_proxy localhost:8000
    }

    handle {
        respond "Not found" 404
    }
}
